//! **************************************************************************
// Written by: Map P.20131013 on Mon Oct 09 17:23:38 2023
//! **************************************************************************

SCHEMATIC START;
PROHIBIT = SITE "D2";
PROHIBIT = SITE "G4";
PROHIBIT = SITE "J6";
PROHIBIT = SITE "L5";
PROHIBIT = SITE "R4";
COMP "J1<0>" LOCATE = SITE "B4" LEVEL 1;
COMP "J1<1>" LOCATE = SITE "A4" LEVEL 1;
COMP "J1<2>" LOCATE = SITE "D5" LEVEL 1;
COMP "J1<3>" LOCATE = SITE "C5" LEVEL 1;
COMP "J2<0>" LOCATE = SITE "A6" LEVEL 1;
COMP "J2<1>" LOCATE = SITE "B6" LEVEL 1;
COMP "J2<2>" LOCATE = SITE "E7" LEVEL 1;
COMP "J2<3>" LOCATE = SITE "F7" LEVEL 1;
COMP "SW<0>" LOCATE = SITE "L13" LEVEL 1;
COMP "SW<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "SW<2>" LOCATE = SITE "H18" LEVEL 1;
COMP "SW<3>" LOCATE = SITE "N17" LEVEL 1;
COMP "ROT_A" LOCATE = SITE "K18" LEVEL 1;
COMP "ROT_B" LOCATE = SITE "G18" LEVEL 1;
COMP "ROT_CENTER" LOCATE = SITE "V16" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "F11" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "E9" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "F9" LEVEL 1;
COMP "CLK_50MHZ" LOCATE = SITE "C9" LEVEL 1;
COMP "BTN_NORTH" LOCATE = SITE "V4" LEVEL 1;
COMP "BTN_SOUTH" LOCATE = SITE "K17" LEVEL 1;
COMP "BTN_EAST" LOCATE = SITE "H13" LEVEL 1;
COMP "BTN_WEST" LOCATE = SITE "D18" LEVEL 1;
NET "CLK_50MHZ_BUFGP/IBUFG" BEL "CLK_50MHZ_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
NET "CLK_50MHZ_BUFGP/IBUFG" PERIOD = 20 ns HIGH 40%;
SCHEMATIC END;

